.color-button {
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    border: none;
    color: white;
    border-radius: 5px; 
}
#red-button {
    background-color: red;
}
#blue-button {
    background-color: blue;
}
#green-button {
    background-color: green;
}
#yellow-button {
    background-color: yellow;
}
.red {
    background-color: red;
  }
  
  .green {
    background-color: green;
  }
  
  .blue {
    background-color: blue;
  }
  .yellow {
    background-color: yellow;
  }